* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #000000, #1a1a1a, #333333);
    font-family: Arial;
}

img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 20px;
    left: 20px;
    object-fit: contain;
}


.Conectar {
    width: 90%;
    max-width: 350px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.Conectar input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-color: #7e7e7e;
    outline-color: #000000;
    border-radius: 10px;
    text-align: center;
    
}

.Conectar h1 {
    text-align: center;
    color: #000000;
}
.Conectar h3 {
    text-align: left;
    color: #404a4c;
}

.Conectar h4 {
    text-align: center;
    color: red;
    font-size: 12px;
}

.Conectar a {
    text-decoration: none;
    fontcolor: #4da3ff;
    color: #000000;
    font-size: 14px;
}

.Conectar button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: ;
    color: #212b2a;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}