body {
    height: 100vh;
    margin: 0;
    display: flex;
    background: radial-gradient(circle, #000000, #1a1a1a, #333333);
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    height: min(25vh, 25vw);
    width: min(25vh, 25vh);
    top: 20px;
    left: 20px;
    object-fit: contain;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: min(80vh, 80vw);
    width: min(80vh, 80vw);
    background-color: rgb(255, 255, 255);
    border-radius: min(3vh, 3vw);
    padding-top: 20px;
}

.login h1 {
    font-family: 'Arial', sans-serif;
    font-size: min(7vh, 7vw);
    color: #111;
    margin: min(1vh, 1vw);
    text-align: center;
}

.login h3 {
    font-family: 'Arial', sans-serif;
    font-size: min(3vh, 3vw);
    color: #333333;
    margin: 0;
    margin-top: min(1vh, 1vw);
    text-align: left;
}

.links {
  display: flex;
  justify-content: center;
  gap: min(25vh, 25vw); /* espaço entre os links */
  margin-top: min(3vh, 3vw);
}

.links a {
  font-family: 'Arial', sans-serif;
  font-size: min(3vh, 3vw);
  color: #333333;
  text-decoration: none;
}

.login input {
  width: min(70vh, 70vw);
  height: min(5vh, 5vw);
  text-align: center;
  font-size: min(3vh, 3vw);
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid #888;
  border-radius: min(2vh, 2vw);
}

.login button {
  width: min(40vh, 40vw);
  height: min(5vh, 5vw);
  font-size: min(3vh, 3vw);
  border-radius: min(2vh, 2vw);
  border: none;

  font-weight: bold;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  margin-top: min(3vh, 3vw);
  transition: all 0.3s ease;
}