body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    background: radial-gradient(circle, #000000, #1a1a1a, #333333);
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 20px;
    left: 20px;
    object-fit: contain;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    width: 75%;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.login h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #111;
    margin: 10px 0;
    text-align: center;
}

.login h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #333333;
    margin: 10px 0 0 0;
    text-align: left;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.links a {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #333333;
    text-decoration: none;
}

.login input {
    width: 90%;
    max-width: 350px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1.5px solid #888;
    border-radius: 5px;
}

.login button {
    width: 50%;
    max-width: 200px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    margin-top: 15px;
    transition: all 0.3s ease;
}
